/* CSS Document */
body {
	background-color: black;
}

header {
	background: black;
}
header nav {
	padding: 15px 30px;
	background-color: black;
	min-height: 30px;
	font-size: 1em;
}

nav {
    padding: 5px 0;
    background: black;
	text-align: center;
}

nav ul {
    display: block;
    padding-left: 100px;
}

nav ul li {
    display: inline-block;
    list-style: none;
}

nav a {
    color:mediumpurple;
    font-size: 1.5em;
    padding: 0 1.2em;
    text-decoration: none;
}

nav a:hover {
    color: mediumpurple;
    text-decoration: none;
}



header img {
	max-width: 100%;
	text-align: center;
	display: block;
	background-size: cover;
	width: 50%;
	height: auto;
	margin: auto;
	
	
}

li{
	color: cornflowerblue;
}

header nav a {
	color: mediumpurple;
	text-decoration: none;
}

header h1 {
	font-size: 2em;
	background-color: white;
	border: 1px solid black;
	color: black;
}

main {
	margin: 0 auto;
	max-width: 1000px;
}

img {
	text-align: center;
	
}

table{
	width: 80%;
}

p, h1, h2, h3, h4, h5, h6{
	color: white;
}

h2{
	text-align: center;
}


#form {
		margin-top:1%;
		background-color: white;
		padding: 1%;
	}
	
#form h2 {
		text-align: center;
	}

	
fieldset legend {
		font-weight: bold;
		font-size:1em;
	}
	
label{
	display:block;
	padding-top: 5%
}
	
form #submit {
		margin: 0 auto;
		border: none;
		display: block;
		padding: 3%;
		font-size: 1em;
		border-radius: 10px;
		background-color: black;
		color: mediumpurple
	}
	
	
	